.footer {
  background-color: #2e2e3d;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      list-style: none;

      a {
        color: inherit;
      }
    }
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;

    li {
      height: 20%;

      img {
        height: 100%;
      }
    }
  }

  &__copyright {
    font-style: italic;
  }
}