.image-wrapper {
  position: relative;
  padding-top: 60%;
  width: 100%;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.screenshotstitle {
  text-align: center;
  margin: 10px 0;
  font-size: 30px;
}