*,
*::before,
*::after {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--color-white);
}

body {
  overflow: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--accent-color1);
}

::-webkit-scrollbar-track {
  background-color: var(--main-color);
}