/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body .widget-visible {
  display: none !important;
}

.tawk-button {
  display: none;
}

:root {
  --anchor-offset: 55px;
}

/* *:focus-visible, *:focus{
  outline: none !important;
} */

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

figcaption {
  display: none;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  overflow-y: scroll;
}

p {
  margin: 0;
}

button {
  color: unset;
}

*,
html,
body {
  scroll-behavior: smooth !important;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article>*+* {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

@media screen and (max-width: 767px) {
  .grecaptcha-badge {
    display: none !important;
  }
}

html,
body,
#root {
  height: 100%;
}