#mc-review {
  padding: 10px;
  background-color: var(--main-color);

  .mc-review-username,
  .mc-sort a,
  .mc-review-body {
    color: white !important;
  }
}

#reviewstitle {
  text-align: center;
  margin: 10px 0;
  font-size: 30px;
}

.active {
  border-bottom: 3px solid var(--accent-color1);
  font-weight: bold;
}