.game {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__preview {
    display: flex;
    gap: 20px;
  }

  &__image {

    img {
      border-radius: 5px;
      height: 300px;
      width: auto;
    }
  }

  &__info {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__title {
    font-size: 40px;
  }

  &__parameter {
    display: flex;
    width: 100%;

    &-title {
      flex-basis: 150px;
      font-weight: 700;
    }

    &-value {
      flex: 1 1 auto;
    }
  }

  &__description {
    h3 {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }
}