.header {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(5px);
  background-color: var(--main-color-transparent);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

    ul {
      display: flex;
      justify-content: center;
      gap: 50px;
      flex: 1 1 50%;

      li {
        list-style: none;

        a {
          font-size: 20px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: inherit;
        }
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    height: 100%;

    a {
      display: flex;
      align-items: center;
      height: 100%;

      img {
        height: 70%;
      }
    }
  }
}